:root {
  box-sizing: border-box;
  font-size: 1.2em;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(252, 214, 244);
}

h1 {
  font-size: 4rem;
  text-align: right;
  padding: 0 2rem;
  font-family: 'Comfortaa', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: medium;
  font-weight: bolder;
}

.notes-container {
  display: flex;
  flex-flow: wrap column;
  /* justify-content: center; */
  margin: 1em;
  padding: 0;
}

.notes {
  /* debug */ 
  display: flex;
  flex-flow: column-reverse wrap;
  list-style: none;
  padding: 0;
  overscroll-behavior: none;
  margin: 0;
}

.note {
  position: relative;
  border: 1px solid gray;
  margin: 1rem 0;
  border-radius: 10px;
  background-color: rgb(255, 246, 253);
  cursor: default;
}

.note:not(.selected):hover {
  box-shadow: 10px -8px rgba(128, 128, 128, 0.4);
}

.note.selected {
  margin: 0;
  position: fixed;
  z-index: 1;
  align-self: center;
  top: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: auto;
}

.text-container {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  overflow: hidden;
}

.note.selected .text-container {
  max-height: 80vh;
  overflow: auto;
}

/*TODO: avoid text highlighting */
.note-title,
.note-body {
  resize: none;
  width: 100%;
  padding: .6em;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: inherit;
}

.note.selected.note-title,
.note.selected.note-body {
  resize: none;
  width: 100%;
  padding: .6em;
  overflow: hidden;
  border: none;
  outline: none;
}

.note-title {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.note-body {
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.note-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-size: .8rem;
}

/* TODO: check how to make the title fixed*/
.note.selected .note-title {
  /* position: absolute; */
}

.note-footer > p {
  width: 20%;
  margin: 0 0.2em;
}

#black-back {
  display: none;
  background-color: rgba(34, 31, 31, .4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* buttons */

button {
  border-radius: 8px;
  border: solid gray 2px;
  cursor: pointer;
  background-color: transparent;
}

.buttons {
  margin: 0 .8em;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.246);
}

button.large {
  font-size: 5rem;
}

button.medium {
  font-size: 2rem;
  color: gray;
}

button.close-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  color: gray;
  border-radius: 50%;
  border: 0;
}

.note.selected button.close-btn {
  display: block;
}

button.close-btn:hover {
  color: rgb(69, 69, 69);
  background-color: transparent;
}


/* other actionables */

.actions {
  display: flex;
  flex: 100%;
  gap: 2em;
  margin: 1em 0;
}

.search-bar {
  display: flex;
  flex: 80%;
  font-size: 2rem;
  border: gray solid 3px;
  border-radius: 2em;
}

.search-icon {
  display: flex;
  color: gray;
  padding-left: 1em;
  align-items: center;
  border: none;
  background-color: white;
  flex: min(10%, 100px);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  font-size: 1em
}

.search-box {
  border: none;
  padding: 0 0.8em;
  outline: none;
  flex: max(10%, calc(100% - 100px));
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  font-size: 1em;
}

.search-box:focus::placeholder {
  color: transparent;
}

.option-menu {
  display: flex;
  flex: 20%;
  justify-content: center;
  border: solid gray 3px;
  margin: 0;
  padding: 0.5em;
  border-radius: .8em;
}

#new-note-btn {
  display: block;
  border: solid gray 3px;
  color: rgb(33, 31, 31);
  background-color: rgb(226, 153, 210);
  margin: .2em 0;
}

#new-note-btn:hover {
  background-color: rgb(226, 153, 210);
  background-color: rgb(131, 93, 123);
}